
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");
body {
  
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #6A6972;
  overflow-x: hidden; 
  background-color:transparent;
  background-image: url('../images/spectropharma _homepage.jpg') !important; 
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%; }

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  text-decoration: none; }

i,
span,
a {
  display: inline-block; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #2E2E2E;
  margin: 0px; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none; }

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  color: #898989;
  margin: 0px; }
p.home{
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    color: #6A6972;
    margin: 0px; }
.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh }

/*===== All Slick Slide Outline Style =====*/
.slick-slide {
  outline: 0; }

/*===== All Button Style =====*/
.main-btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 25px;
  font-size: 16px;
  line-height: 48px;
  border-radius: 8px;
  border: 0;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  background: -webkit-linear-gradient(left, #33c8c1 0%, #119bd2 50%, #33c8c1 100%);
  background: -o-linear-gradient(left, #33c8c1 0%, #119bd2 50%, #33c8c1 100%);
  background: linear-gradient(to right, #33c8c1 0%, #119bd2 50%, #33c8c1 100%);
  background-size: 200%; }
  .main-btn:hover {
    color: #fff;
    background-position: right center; }

/*===== All SECTION TITLE Style =====*/
.section-title .line {
  background: -webkit-linear-gradient(90deg, rgba(254,54,192,1) 0%, rgba(180,44,210,1) 35%, rgba(28,25,247,1) 100%); 
  background: -o-linear-gradient(90deg, rgba(254,54,192,1) 0%, rgba(180,44,210,1) 35%, rgba(28,25,247,1) 100%); 
  background: linear-gradient(90deg, rgba(254,54,192,1) 0%, rgba(180,44,210,1) 35%, rgba(28,25,247,1) 100%); 
  width: 50px;
  height: 5px;
  margin-bottom: 10px !important; }

.section-title .title {
  font-size: 38px;
  font-weight: 700;
  line-height: 42px; }
  @media (max-width: 767px) {
    .section-title .title {
      font-size: 20px; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-title .title {
      font-size: 30px; } }
  .section-title .title span {
    font-weight: 400;
    display: contents; }

/*===== All Section Title Style =====*/
.section-title .sub-title {
  font-size: 18px;
  font-weight: 400;
  color: #361CC1;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .section-title .sub-title {
      font-size: 16px; } }

.section-title .title {
  font-size: 24px;
  padding-top: 0px; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-title .title {
      font-size: 30px; } }
  @media (max-width: 767px) {
    .section-title .title {
      font-size: 24px; } }
  .section-title .title span {
    font-weight: 400;
    display: contents; }

/*===== All Slick Slide Outline Style =====*/
.slick-slide {
  outline: 0; }

/*===== All Preloader Style =====*/
.preloader {
  /* Body Overlay */
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  /* Change Background Color */
  background: #fff;
  z-index: 99999; }
  .preloader .loader {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    .preloader .loader .ytp-spinner {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 64px;
      margin-left: -32px;
      z-index: 18;
      pointer-events: none; }
      .preloader .loader .ytp-spinner .ytp-spinner-container {
        pointer-events: none;
        position: absolute;
        width: 100%;
        padding-bottom: 100%;
        top: 50%;
        left: 50%;
        margin-top: -50%;
        margin-left: -50%;
        -webkit-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
        -moz-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
        -o-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
        animation: ytp-spinner-linspin 1568.23529647ms linear infinite; }
        .preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
          -moz-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
          -o-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
          animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }
          .preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-left {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            overflow: hidden;
            right: 50%; }
          .preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-right {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            left: 50%; }
    .preloader .loader .ytp-spinner-circle {
      box-sizing: border-box;
      position: absolute;
      width: 200%;
      height: 100%;
      border-style: solid;
      /* Spinner Color */
      border-color: #361CC1 #361CC1 #E1E1E1;
      border-radius: 50%;
      border-width: 6px; }
    .preloader .loader .ytp-spinner-left .ytp-spinner-circle {
      left: 0;
      right: -100%;
      border-right-color: #E1E1E1;
      -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
      -moz-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
      -o-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
      animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }
    .preloader .loader .ytp-spinner-right .ytp-spinner-circle {
      left: -100%;
      right: 0;
      border-left-color: #E1E1E1;
      -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
      -moz-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
      -o-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
      animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }

/* Preloader Animations */
@-webkit-keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  25% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg); }
  37.5% {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg); }
  50% {
    -webkit-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg); }
  62.5% {
    -webkit-transform: rotate(675deg);
    -moz-transform: rotate(675deg);
    -ms-transform: rotate(675deg);
    -o-transform: rotate(675deg);
    transform: rotate(675deg); }
  75% {
    -webkit-transform: rotate(810deg);
    -moz-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    -o-transform: rotate(810deg);
    transform: rotate(810deg); }
  87.5% {
    -webkit-transform: rotate(945deg);
    -moz-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg); }
  to {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg); } }

@keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  25% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg); }
  37.5% {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg); }
  50% {
    -webkit-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg); }
  62.5% {
    -webkit-transform: rotate(675deg);
    -moz-transform: rotate(675deg);
    -ms-transform: rotate(675deg);
    -o-transform: rotate(675deg);
    transform: rotate(675deg); }
  75% {
    -webkit-transform: rotate(810deg);
    -moz-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    -o-transform: rotate(810deg);
    transform: rotate(810deg); }
  87.5% {
    -webkit-transform: rotate(945deg);
    -moz-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg); }
  to {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg); } }

@-webkit-keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg); }
  50% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  to {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg); } }

@keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg); }
  50% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  to {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg); } }

@-webkit-keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg); }
  50% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg); }
  to {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg); } }

@keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg); }
  50% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg); }
  to {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg); } }

/*===========================
      02.HEADER css 
===========================*/
/*===== NAVBAR =====*/
.navbar-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

.sticky {
  position: fixed;
  z-index: 99;
  background-color: rgba(255,255,255,0.9);
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }
  .sticky .navbar {
    padding: 10px 0; }

.navbar {
  padding: 25px 0;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

.navbar-brand {
  padding: 0; }

.navbar-toggler {
  padding: 0; }
  .navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: rgba(255,255,255,0.9);
    display: block;
    margin: 5px 0;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
  .navbar-toggler.active .toggler-icon:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px; }
  .navbar-toggler.active .toggler-icon:nth-of-type(2) {
    opacity: 0; }
  .navbar-toggler.active .toggler-icon:nth-of-type(3) {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -7px; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 5px 12px; } }

@media (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 5px 12px; } }

.navbar-nav .nav-item {
  margin-right: 45px;
  position: relative; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar-nav .nav-item {
      margin-right: 30px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item {
      margin: 0; } }
  @media (max-width: 767px) {
    .navbar-nav .nav-item {
      margin: 0; } }
      .navbar-nav .nav-item a:hover {
        color:#fff;
      }
  .navbar-nav .nav-item a {
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: #f4f4f4;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    padding: 10px 0;
    position: relative;
    font-family: "Poppins", sans-serif; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navbar-nav .nav-item a {
        display: block;
        padding: 4px 0;
        color: #2E2E2E; } }
    @media (max-width: 767px) {
      .navbar-nav .nav-item a {
        display: block;
        padding: 4px 0;
        color: #2E2E2E; } }
  .navbar-nav .nav-item:hover .sub-menu {
    top: 100%;
    opacity: 1;
    visibility: visible; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navbar-nav .nav-item:hover .sub-menu {
        top: 0; } }
    @media (max-width: 767px) {
      .navbar-nav .nav-item:hover .sub-menu {
        top: 0; } }
  .navbar-nav .nav-item .sub-menu {
    width: 200px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 110%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navbar-nav .nav-item .sub-menu {
        position: relative;
        width: 100%;
        top: 0;
        display: none;
        opacity: 1;
        visibility: visible; } }
    @media (max-width: 767px) {
      .navbar-nav .nav-item .sub-menu {
        position: relative;
        width: 100%;
        top: 0;
        display: none;
        opacity: 1;
        visibility: visible; } }
    .navbar-nav .nav-item .sub-menu li {
      display: block; }
      .navbar-nav .nav-item .sub-menu li a {
        display: block;
        padding: 8px 20px;
        color: #2E2E2E; }
        .navbar-nav .nav-item .sub-menu li a.active, .navbar-nav .nav-item .sub-menu li a:hover {
          padding-left: 25px;
          color: #1545C0; 
          font-weight: 500;
        }

.navbar-nav .sub-nav-toggler {
  display: none; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .sub-nav-toggler {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      background: none;
      color: #2E2E2E;
      font-size: 18px;
      border: 0;
      width: 30px;
      height: 30px; } }
  @media (max-width: 767px) {
    .navbar-nav .sub-nav-toggler {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      background: none;
      color: #2E2E2E;
      font-size: 18px;
      border: 0;
      width: 30px;
      height: 30px; } }
  .navbar-nav .sub-nav-toggler span {
    width: 8px;
    height: 8px;
    border-left: 1px solid #2E2E2E;
    border-bottom: 1px solid #2E2E2E;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: relative;
    top: -5px; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-btn {
    position: absolute;
    top: 50%;
    right: 50px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); } }

@media (max-width: 767px) {
  .navbar-btn {
    position: absolute;
    top: 50%;
    right: 50px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); } }

.navbar-btn .main-btn {
  height: 45px;
  line-height: 45px;
  background: -webkit-linear-gradient(left, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
  background: -o-linear-gradient(left, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
  background: linear-gradient(to right, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
  background-size: 200%; }
  .navbar-btn .main-btn:hover {
    color: #fff;
    background-position: right center; }

.sticky .navbar-toggler .toggler-icon {
  background-color: #2E2E2E; }

.sticky .navbar-nav .nav-item a {
  cursor: pointer;
  color: #FE36C0; 
  -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
        transition: color 1s; /* For modern browsers */
}

.sticky .navbar-nav .nav-item.active > a, .sticky .navbar-nav .nav-item:hover > a {
  color: #1545C0; 
  font-weight: 300;
  -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
        transition: color 1s; /* For modern browsers */
}

/*===== HEADER HERO =====*/
.header-hero {
  position: relative;
  z-index: 5;
  background-position: bottom center; }

#particles-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }

.header-hero-content {
  padding-top: 180px; }
  @media (max-width: 767px) {
    .header-hero-content {
      padding-top: 100px; } }
  .header-hero-content .header-sub-title {
    font-size: 38px;
    font-weight: 300;
    color: #fff; }
    @media (max-width: 767px) {
      .header-hero-content .header-sub-title {
        font-size: 24px; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .header-hero-content .header-sub-title {
        font-size: 30px; } }
  .header-hero-content .header-title {
    font-size: 38px;
    font-weight: 700;
    color: #fff; }
    @media (max-width: 767px) {
      .header-hero-content .header-title {
        font-size: 24px; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .header-hero-content .header-title {
        font-size: 30px; } }
  .header-hero-content .text {
    color: #fff;
    margin-top: 30px; }
  .header-hero-content .main-btn {
    margin-top: 40px; }

.header-hero-image {
  padding-top: 45px; }
  .header-hero-image img {
    max-width: 650px; }
    @media (max-width: 767px) {
      .header-hero-image img {
        max-width: 100%; } }
  @media (max-width: 767px) {
    .header-hero-image {
      padding-top: 30px; } }

/*===========================
      03.BRAND css 
===========================*/
@media (max-width: 767px) {
  .brand-logo {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

.single-logo {
  padding: 0 30px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-logo {
      padding: 0 15px; } }
  @media (max-width: 767px) {
    .single-logo {
      padding: 0 15px; } }
  @media (max-width: 767px) {
    .single-logo {
      width: 50%; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .single-logo {
      width: 33.33%; } }
  .single-logo img {
    width: 100%;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
  .single-logo:hover img {
    opacity: 1; }

/*===========================
      04.SERVICES css 
===========================*/

.wizard {
  margin-left: 30px;
  position: relative;
}
.wizard .v-line {
  border: 1px dashed #ccc;
  position: absolute;
  margin-left: -17px;
  margin-top: 40px;
  height: 170px;
}
.wizard .v-line2 {
  border: solid 1px #1E20F6;
  position: absolute;
  margin-left: -16.6px;
  margin-top: 40px;
  height: 90px;
}
.wizard .v-line3 {
  border: solid 1px #FB36C1;
  position: absolute;
  margin-left: -16.6px;
  margin-top: 130px;
  height: 80px;
}
.wizard .v-line4 {
  border: solid 1px #1E20F6;
  position: absolute;
  margin-left: -16.6px;
  margin-top: 40px;
  height: 170px;
}
.wizard .step span {
  margin-left: 15px;
}
.wizard .step {
  padding: 32px 0;
  position: relative;
}
.wizard .step:before {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 20px;
  border: 2px solid #1E20F6;
  background: white;
  position: absolute;
  margin-left: -21px;
  top: 37px;
}
.wizard .step.selected:before {
  background: #1E20F6;
  border: 2px solid #1E20F6;
  outline-color: lightgray;
  outline-width: 1px;
  outline-style: solid;
  outline-offset: 2px;
}
.wizard .step.selected2:before {
  background: #1E20F6;
  border: 2px solid #1E20F6;
  outline-color: #FB36C1;
  outline-width: 1px;
  outline-style: solid;
  outline-offset: 2px;
}
.single-services {
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 30px 0px rgba(167, 167, 167, 0.16);
  -moz-box-shadow: 0px 5px 30px 0px rgba(167, 167, 167, 0.16);
  box-shadow: 0px 5px 30px 0px rgba(167, 167, 167, 0.16);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  border: 2px solid transparent;
  height:400px;
  margin-bottom: 100px; 
  opacity:0.7;
  }
  @media (max-width: 767px) {
    .single-services {
      padding: 20px 20px 30px; } }
  .single-services .services-icon {
    display: inline-block;
    position: relative; }
    .single-services .services-icon img {
      -webkit-transition: all 0.4s ease-out 0s;
      -moz-transition: all 0.4s ease-out 0s;
      -ms-transition: all 0.4s ease-out 0s;
      -o-transition: all 0.4s ease-out 0s;
      transition: all 0.4s ease-out 0s; }
    .single-services .services-icon .shape-1 {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .single-services .services-icon i {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 34px;
      color: #fff; }
  .single-services .services-content .services-title a {
    font-size: 26px;
    font-weight: 700;
    color: #2E2E2E;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .single-services .services-content .services-title a {
        font-size: 24px; } }
    @media (max-width: 767px) {
      .single-services .services-content .services-title a {
        font-size: 20px; } }
    .single-services .services-content .services-title a:hover {
      color: #361CC1; }
  .single-services .services-content .text {
    margin-top: 30px; }
    @media (max-width: 767px) {
      .single-services .services-content .text {
        margin-top: 20px; } }
  .single-services .services-content .more {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #2E2E2E;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
    .single-services .services-content .more i {
      margin-left: 10px; }
    .single-services .services-content .more:hover {
      color: #361CC1; }
  .single-services:hover {
    border-color: #FE36C0; 
    opacity:1;
  }
  .single-services2{ 
    opacity:1;
  }
    .single-services:hover .services-icon .shape {
      -webkit-transform: rotate(25deg);
      -moz-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
      -o-transform: rotate(25deg);
      transform: rotate(25deg); }

/*===========================
      05.ABOUT css 
===========================*/
.about-area {
  position: relative;
  z-index: 5; }

.about-shape-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  z-index: -1; }
  .about-shape-1 img {
    width: 100%; }
  @media (max-width: 767px) {
    .about-shape-1 {
      display: none; } }

.about-shape-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  height: 100%;
  z-index: -1; }
  .about-shape-2 img {
    width: 100%; }
  @media (max-width: 767px) {
    .about-shape-2 {
      display: none; } }

.about-content {
  max-width: 480px; }
  .about-content .text {
    margin-top: 15px; }
  .about-content .main-btn {
    background: -webkit-linear-gradient(left, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
    background: -o-linear-gradient(left, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
    background: linear-gradient(to right, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
    background-size: 200%;
    height: 50px;
    line-height: 50px;
    padding: 0 35px;
    margin-top: 40px; }
    .about-content .main-btn:hover {
      background-position: right center; }

/*===========================
    06.VIDEO COUNTER css 
===========================*/
.video-content {
  position: relative;
  padding-bottom: 30px; }
  .video-content .dots {
    position: absolute;
    left: -30px;
    bottom: 0; }

.video-wrapper {
  margin-right: 15px;
  position: relative;
  -webkit-box-shadow: 0px 13px 46px 0px rgba(113, 113, 113, 0.33);
  -moz-box-shadow: 0px 13px 46px 0px rgba(113, 113, 113, 0.33);
  box-shadow: 0px 13px 46px 0px rgba(113, 113, 113, 0.33);
  border-radius: 10px;
  overflow: hidden; }
  @media (max-width: 767px) {
    .video-wrapper {
      margin-right: 0; } }
  .video-wrapper .video-image img {
    width: 100%; }
  .video-wrapper .video-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(54, 28, 193, 0.2) 0%, rgba(46, 130, 239, 0.2) 100%);
    background: -o-linear-gradient(left, rgba(54, 28, 193, 0.2) 0%, rgba(46, 130, 239, 0.2) 100%);
    background: linear-gradient(to right, rgba(54, 28, 193, 0.2) 0%, rgba(46, 130, 239, 0.2) 100%); }
    .video-wrapper .video-icon a {
      width: 55px;
      height: 55px;
      line-height: 55px;
      text-align: center;
      border-radius: 50%;
      background-color: #fff;
      color: #FE8464;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.counter-wrapper {
  padding-left: 70px; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .counter-wrapper {
      padding-left: 0; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .counter-wrapper {
      padding-left: 0; } }
  @media (max-width: 767px) {
    .counter-wrapper {
      padding-left: 0; } }
  .counter-wrapper .counter-content .text {
    margin-top: 35px; }
  .counter-wrapper .single-counter {
    max-width: 155px;
    height: 120px;
    border-radius: 60px;
    position: relative;
    z-index: 5;
    margin-top: 60px; }
    @media (max-width: 767px) {
      .counter-wrapper .single-counter {
        max-width: 100px;
        height: 80px; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .counter-wrapper .single-counter {
        max-width: 155px;
        height: 120px; } }
    .counter-wrapper .single-counter::before {
      position: absolute;
      content: '';
      width: 155px;
      height: 120px;
      border-radius: 60px;
      top: 0;
      left: 0;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      z-index: -1; }
      @media (max-width: 767px) {
        .counter-wrapper .single-counter::before {
          max-width: 100px;
          height: 80px; } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .counter-wrapper .single-counter::before {
          max-width: 155px;
          height: 120px; } }
    .counter-wrapper .single-counter.counter-color-1::before {
      background: -webkit-linear-gradient(#33c8c1 0%, #119bd2 100%);
      background: -o-linear-gradient(#33c8c1 0%, #119bd2 100%);
      background: linear-gradient(#33c8c1 0%, #119bd2 100%); }
    .counter-wrapper .single-counter.counter-color-2::before {
      background: -webkit-linear-gradient(#fe8464 0%, #fe6e9a 100%);
      background: -o-linear-gradient(#fe8464 0%, #fe6e9a 100%);
      background: linear-gradient(#fe8464 0%, #fe6e9a 100%); }
    .counter-wrapper .single-counter.counter-color-3::before {
      background: -webkit-linear-gradient(#361cc1 0%, #2e82ef 100%);
      background: -o-linear-gradient(#361cc1 0%, #2e82ef 100%);
      background: linear-gradient(#361cc1 0%, #2e82ef 100%); }
    .counter-wrapper .single-counter .count {
      font-size: 22px;
      font-weight: 700;
      color: #fff; }
      @media (max-width: 767px) {
        .counter-wrapper .single-counter .count {
          font-size: 18px; } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .counter-wrapper .single-counter .count {
          font-size: 22px; } }
    .counter-wrapper .single-counter .text {
      font-size: 16px;
      color: #fff; }
      @media (max-width: 767px) {
        .counter-wrapper .single-counter .text {
          font-size: 14px; } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .counter-wrapper .single-counter .text {
          font-size: 16px; } }

/*===========================
       07.TEAM css 
===========================*/
.single-team {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(167, 167, 167, 0.16);
  -moz-box-shadow: 0px 0px 30px 0px rgba(167, 167, 167, 0.16);
  box-shadow: 0px 0px 30px 0px rgba(167, 167, 167, 0.16);
  overflow: hidden;
  border-radius: 10px; }
  .single-team .team-image {
    position: relative; }
    .single-team .team-image img {
      width: 100%; }
    .single-team .team-image .social {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 25px; }
      .single-team .team-image .social ul {
        background-color: rgba(255, 255, 255, 0.23);
        display: inline-block;
        border-radius: 50px;
        padding: 0 13px;
        position: relative;
        z-index: 5;
        overflow: hidden; }
        .single-team .team-image .social ul::before {
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          z-index: -1;
          top: 0;
          left: 0;
          background: -webkit-linear-gradient(#fe8464 0%, #fe6e9a 100%);
          background: -o-linear-gradient(#fe8464 0%, #fe6e9a 100%);
          background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
          opacity: 0;
          visibility: hidden;
          -webkit-transition: all 0.3s ease-out 0s;
          -moz-transition: all 0.3s ease-out 0s;
          -ms-transition: all 0.3s ease-out 0s;
          -o-transition: all 0.3s ease-out 0s;
          transition: all 0.3s ease-out 0s; }
        .single-team .team-image .social ul li {
          display: inline-block; }
          .single-team .team-image .social ul li a {
            padding: 15px 13px;
            color: #fff; }
  .single-team .team-content {
    padding: 30px; }
    .single-team .team-content .holder-name a {
      font-size: 20px;
      font-weight: 700;
      color: #2E2E2E; }
    .single-team .team-content .text {
      margin-top: 5px; }
  .single-team:hover .team-image .social ul::before {
    opacity: 1;
    visibility: visible; }

/*===========================
     08.TESTIMONIAL css 
===========================*/
.single-testimonial {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(167, 167, 167, 0.16);
  -moz-box-shadow: 0px 0px 30px 0px rgba(167, 167, 167, 0.16);
  box-shadow: 0px 0px 30px 0px rgba(167, 167, 167, 0.16);
  overflow: hidden;
  border-radius: 10px;
  padding: 25px 30px 5px;
  border-radius: 10px;
  border: 2px solid transparent;
  margin: 30px 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }
  @media (max-width: 767px) {
    .single-testimonial {
      padding: 20px 20px 5px; } }
  .single-testimonial .testimonial-review .quota i {
    font-size: 36px;
    color: #119BD2;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
  .single-testimonial .testimonial-review .star ul li {
    display: inline-block;
    font-size: 16px;
    color: #FE806D; }
  .single-testimonial .testimonial-text {
    margin-top: 25px; }
  .single-testimonial .testimonial-author {
    margin-top: 30px; }
    .single-testimonial .testimonial-author .author-image {
      position: relative; }
      .single-testimonial .testimonial-author .author-image .author {
        position: absolute;
        top: 17px;
        left: 17px;
        width: 80px;
        height: 80px; }
    .single-testimonial .testimonial-author .author-content .holder-name {
      font-size: 18px;
      font-weight: 700;
      color: #2E2E2E; }
    .single-testimonial .testimonial-author .author-content .text {
      font-size: 15px; }
  .single-testimonial:hover {
    border-color: #FE7A7B; }
    .single-testimonial:hover .testimonial-review .quota i {
      color: #FE7A7B; }

.slick-center .single-testimonial {
  border-color: #FE7A7B; }
  .slick-center .single-testimonial .testimonial-review .quota i {
    color: #FE7A7B; }

.testimonial-active .slick-dots {
  margin: 0 auto; }
  .testimonial-active .slick-dots li {
    display: inline-block;
    margin: 0 4px; }
    .testimonial-active .slick-dots li button {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: linear-gradient(180deg, #fe8464 0%, #fe6e9a 100%);
      border: 0;
      font-size: 0;
      opacity: 0.5;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s; }
    .testimonial-active .slick-dots li.slick-active button {
      opacity: 1;
      width: 15px;
      height: 15px; }

/*===========================
       09.BLOG  css 
===========================*/
.single-blog .blog-image img {
  border-radius: 10px;
  width: 100%; }

.single-blog .blog-content {
  padding-top: 25px; }
  .single-blog .blog-content .meta li {
    font-size: 16px;
    color: #6A6972;
    display: inline-block;
    margin-left: 50px; }
    .single-blog .blog-content .meta li:first-child {
      margin-left: 0; }
    .single-blog .blog-content .meta li a {
      color: #6A6972; }
  .single-blog .blog-content .text {
    font-size: 23px;
    font-weight: 400;
    line-height: 30px;
    color: #2E2E2E;
    margin-top: 15px; }
    @media (max-width: 767px) {
      .single-blog .blog-content .text {
        font-size: 20px;
        line-height: 30px; } }
  .single-blog .blog-content .more {
    font-size: 16px;
    color: #FE7E71;
    margin-top: 30px; }
    .single-blog .blog-content .more i {
      margin-left: 5px; }

/*===========================
       10.SUBSCRIBE  css 
===========================*/
.subscribe-area {
  padding: 40px 50px 90px;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(50, 77, 215, 0.14);
  -moz-box-shadow: 0px 0px 18px 0px rgba(50, 77, 215, 0.14);
  box-shadow: 0px 0px 18px 0px rgba(50, 77, 215, 0.14);
  border-radius: 10px;
  background-color: #fff; }
  @media (max-width: 767px) {
    .subscribe-area {
      padding: 10px 30px 60px; } }

.subscribe-content .subscribe-title {
  font-size: 35px;
  font-weight: 700; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .subscribe-content .subscribe-title {
      font-size: 30px; } }
  @media (max-width: 767px) {
    .subscribe-content .subscribe-title {
      font-size: 24px; } }
  .subscribe-content .subscribe-title span {
    font-weight: 400; }

.subscribe-form {
  position: relative; }
  .subscribe-form input {
    border: 2px solid #E1E1E1;
    height: 65px;
    padding: 0 30px;
    border-radius: 5px;
    width: 100%;
    color: #2E2E2E; }
    .subscribe-form input::placeholder {
      opacity: 1;
      color: #B9B9B9; }
    .subscribe-form input::-moz-placeholder {
      opacity: 1;
      color: #B9B9B9; }
    .subscribe-form input::-moz-placeholder {
      opacity: 1;
      color: #B9B9B9; }
    .subscribe-form input::-webkit-input-placeholder {
      opacity: 1;
      color: #B9B9B9; }
    .subscribe-form input:focus {
      border-color: #361CC1; }
  .subscribe-form button {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 65px;
    line-height: 65px;
    background: -webkit-linear-gradient(left, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
    background: -o-linear-gradient(left, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
    background: linear-gradient(to right, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
    background-size: 200%; }
    @media (max-width: 767px) {
      .subscribe-form button {
        position: relative;
        width: 100%;
        margin-top: 10px;
        border-radius: 5px; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .subscribe-form button {
        position: absolute;
        width: auto;
        margin-top: 0;
        border-radius: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; } }
    .subscribe-form button:hover {
      color: #fff;
      background-position: right center; }

/*===========================
       11.FOOTER  css 
===========================*/
.footer-area {
  background-position: top center;
  position: relative;
  z-index: 5; }

.footer-area::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  
  z-index: -1;
  background:white;
}
  @media only screen and (min-width: 1921px) {
    .footer-area::before {
      height: 1120px; } }

#particles-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }

.footer-widget {
  padding-top: w0px; }

.footer-about .logo img {
  width: 160px; }

.footer-about .text {
  color: gainsboro;
  line-height: 30px;
  margin-top: 15px; }

.footer-about .social {
  margin-top: 20px; }
  .footer-about .social li {
    display: inline-block;
    margin-right: 30px; }
    .footer-about .social li a {
      font-size: 22px;
      color: #fff;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s; }
      .footer-about .social li a:hover {
        color: #FE8464; }

.footer-title .title {
  font-size: 16px;
  font-weight: 100;
  color: #1545C0; }

.link-wrapper {
  padding: 0 35px; }
  @media (max-width: 767px) {
    .link-wrapper {
      padding: 0;
      padding-right: 50px; } }
  .link-wrapper .link {
    padding-top: 20px; }
    .link-wrapper .link li {
      margin-top: 20px; }
      .link-wrapper .link li a {
        font-size: 16px;
        color: #fff;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s; }
        .link-wrapper .link li a:hover {
          color: #FE8464; }

.footer-contact .contact {
  padding-top: 20px; }
  .footer-contact .contact li {
    margin-top: 20px;
    font-size: 16px;
    color: #fff; }

.footer-copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 15px;
  padding-bottom: 30px; }

.copyright-content {
  padding-top: 15px;
  text-align: center; }
  .copyright-content p {
    color: #fff; }
  .copyright-content a {
    font-size: 16px;
    color: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
    .copyright-content a:hover {
      color: #FE8464; }

/*===== BACK TO TOP =====*/
.back-to-top {
  font-size: 20px;
  color: #fff;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #361cc1 0%, #2e82ef 100%);
  background: -o-linear-gradient(left, #361cc1 0%, #2e82ef 100%);
  background: linear-gradient(to right, #361cc1 0%, #2e82ef 100%);
  text-align: center;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  display: none; }
  .back-to-top:hover {
    color: #fff; }

@keyframes homeRadial {
      0%   {transform:scale(0)}
      100% {transform:scale(1);opacity:1;}
}
  
#homeRadialBig{
  background: url('../images/home_radial_big.svg') right top no-repeat; 
  background-position: calc(100% + 600px) 30%; 
  background-size: 110%; position:absolute; 
  top:0%; right:0; 
  width:100%;
  height:100vh; 
  opacity: 1;
  
}
.offceLocation {
  background:#808285 url('../images/officeLocation.svg') 30px 30px no-repeat; color:white; padding:35px 80px;
}
.contactIcon {
  background:#808285 url('../images/contactus.svg') 30px 30px no-repeat; color:white; padding:35px 80px;
}
.emailIcon {
  background:#808285 url('../images/email.svg') 30px 30px no-repeat; color:white; padding:35px 80px;
}
.animate {
  -webkit-animation-name: rotate;
  -webkit-animation-duration:120s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -moz-animation-name: rotate;
  -moz-animation-duration:120s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:linear;
  transform : scale(1);
}
@-webkit-keyframes rotate {
  from {-webkit-transform:rotate(0deg) scale(1.03)}
  to {  -webkit-transform:rotate(360deg) scale(2);}
}

@-moz-keyframes rotate {
  from {-moz-transform:rotate(0deg) scale(1.03);}
  to {  -moz-transform:rotate(360deg) scale(2);}
}
#projectOverview{
  background:#fff url('../images/circColorful.svg') 10% 100px no-repeat; background-size: 100px;
}
#mission{
  background:#fff url('../images/radial_magenta.svg') -300px 50px no-repeat; background-size: 500px;
}
#missionImage{
  margin-top:-60px; 
}
#footy{
  padding:0 35px;
}
#aboutin{
  background:#fff url('../images/radial_magenta.svg') -300px 50px no-repeat; 
  background-size: 500px; min-height: 90vh; margin-top: 22vh; padding-top: 25px;
}
#focusareain{
  background: url('../images/radial_magenta.svg') -400px 0px no-repeat; 
  background-size: 500px; position:absolute; top:0; left:0; 
  z-index: 98; width:300px;height:500px
}
#focusareabuttom {
  background: url('../images/radial-big.svg') no-repeat; 
  background-size:300px; background-position: calc(100% + 150px) 150px; 
  padding-bottom: 100px;
}
#strategyin {
  background: url('../images/radial_magenta.svg') -100px 300px no-repeat; 
  background-size: 200px; position:absolute; top:0; left:0; z-index: 98; width:300px;height:500px
}
.careerblue{
  background: url('../images/radial_magenta.svg') -100px 300px no-repeat; 
  background-size: 200px; position:absolute; top:0; 
  left:0; z-index: 98; width:300px;height:500px;
}
.careerBlue2 {
  background:#fff ;min-height: 90vh; padding-top: 25px; 
  background:white url('../images/radial-big.svg') no-repeat; 
  background-size:360px; background-position: calc(100% + 250px) calc(100% - 150px)
}
.careerBlue3 {
  background:#fff ;min-height: 90vh; padding-top: 25px; 
  background:white url('../images/radial-big.svg') no-repeat; 
  background-size:360px; background-position: calc(100% + 250px) calc(100% - 150px);
  padding-top:10vh;
}

.careerBlue3 i {
  margin-top:100px
}
#partnershipForm {
  height:100vh; position:fixed; top:0vh; background:rgba(0,0,0,0.7);  padding-top:10vh; width:100%; z-index: 100; display: none; 
}
#careerForm{
  height:100vh; position:fixed; top:0vh; background:rgba(0,0,0,0.7);  padding-top:10vh; width:100%; z-index: 100; display: none; 
}
#contactForm{
  height:100vh; position:fixed; top:0vh; background:rgba(0,0,0,0.7);  padding-top:10vh; width:100%; z-index: 100; display: none; 
}
@media only screen and (min-width: 400px) and (max-width: 767px) {
  #homeRadialBig {
    width:200%;
    background-position:400px 0;
  }
  .tagLine {
    margin-left:20px;
    font-size:14pt;
  }
  p.home {
    font-size:13pt;
    margin-left: -50px;
  }
  #projectOverview{
      background-position: -15% -100px;
      background-size: 200px;
  }
  #wiz1{
    display: none;
  }
  #wiz2{
    display: none;
  }
  #wiz3{
    display: none;
  }
  #mission{
    background-size: 200px;
    background-position: -50px -100px;
  }
  #missionImage{
    margin-top: 0px;
  }
  #footy{
    padding:0;
  }
  #aboutin {
    background:#fff url('../images/radial_nav_magenta.svg') no-repeat; 
    background-size:250px; background-position: -100px -100px;
  }
  #focusareain{
    background-size: 300px; 
    background-position:-200px -10px;
  }
  #focusareabuttom {
    background-size:300px; background-position: calc(100% + 150px) 350px; 
  }
  #strategyin {
    background-position: -100px 0px; 
  }
  .careerblue{
    opacity: 0.5;
  }
  .careerBlue2 {
    background-size:360px; background-position: calc(100% + 250px) calc(100% - 100px)
  }
  .careerBlue3 {
    background-size:360px; background-position: calc(100% + 250px) calc(100% - 50px)
  }
  .magentaRadial {
    background-size:360px; background-position: calc(100% + 250px) calc(100% - 250px); 
  }
  #partnershipForm {
    padding-top:0;
  }
  #partnershipForm a{
    margin-top:50px;
  }
  #careerForm {
    padding-top:0;
  }
  #careerForm a{
    margin-top:50px;
  }
  #contactForm {
    padding-top:0;
  }
  #contactForm a{
    margin-top:50px;
  }
  .tagLine {
    margin-left:100px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 926px) {
  
  #homeRadialBig {
    width:150%;
    background-position:400px -200px;
  }
  .tagLine {
    margin-left:50px;
    font-size:14pt;
    padding-top:50px;
  }
  p.home {
    font-size:20pt;
    margin-left: -50px;
  }
  .header-hero-content {
    padding-top:100px;
  }
  #projectOverview{
    background-position: -15% -10px;
    background-size: 200px;
  }
  #wiz1{
    display: none;
  }
  #wiz2{
    display: none;
  }
  #wiz3{
    display: none;
  }
  #mission{
    background-position: -150px 50px; 
    background-size: 300px;
  }
  
}
@media only screen and (min-width: 927px) and (max-width: 1080px) {
  #homeRadialBig {
    width:120%;
    background-position:300px -300px;
  }
  .header-hero-content {
    padding-top:150px;
  }
  .tagLine {
    margin-left:200px;
    font-size:14pt;
    padding-top:130px;
  }
  p.home {
    font-size:20pt;
    margin-left: -50px;
  }
  #projectOverview{
    background-position: -15% -10px;
    background-size: 200px;
  }
  #mission{
    background-position: -150px -100px; 
    background-size: 300px;
  }
  #aboutin {
    background:#fff url('../images/radial_nav_magenta.svg') no-repeat; 
    background-size:250px; background-position: -190px 50px;
  }
}
@media only screen and (min-width: 1081px) and (max-width: 1979px) {
  #aboutin {
    background:#fff url('../images/radial_nav_magenta.svg') no-repeat; 
    background-size:450px; background-position: -380px 50px;
  }
  .tagLine {
    margin-left:150px;
    font-size:14pt;
    padding-top:130px;
  }
  #homeRadialBig {
    width:100%;
    background-position:300px -300px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1979px) {
  .tagLine {
    margin-left:205px;
    font-size:14pt;
    padding-top:130px;
  }
  #aboutin {
    background:#fff url('../images/radial_nav_magenta.svg') no-repeat; 
    background-size:350px; background-position: -280px 50px; 
  }
}
@media only screen and (min-width: 1980px) and (max-width: 3092px) {
  #homeRadialBig {
    width:80%;
    background-position:300px -300px;
  }
  .header-hero-content {
    padding-top:250px;
  }
  .tagLine {
    margin-left:50px;
    font-size:24pt;
    padding-top:230px;
  }
  #projectOverview{
    background-position: 5% -350px;
    background-size: 600px;
  }
  #mission{
    background-position: -200px 50px; 
    background-size: 600px;
  }
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.flip {
  position: relative;
  width: 160px;
  height: 48px;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  -ms-perspective: 500px;
  perspective: 500px;
  margin-top: 30px;
  
}
.flip a {
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-25px);
  -moz-transform: translateZ(-25px);
  -o-transform: translateZ(-25px);
  -ms-transform: translateZ(-25px);
  transform: translateZ(-25px);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  transition: transform 0.3s;
  cursor: pointer;
}
.flip a .front,
.flip a .back {
  margin: 0;
  width: 360px;
  height: 48px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  letter-spacing: 0.1em;
}
.buttonPlain {
  background: #fe36c0;
  width: 150px;
  cursor: pointer;
  height: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.1em;
  background: -webkit-linear-gradient(0deg, #fe36c0 0%, #366cf5 51%, #1545c0 100%);
  background: -moz-linear-gradient(0deg, #fe36c0 0%, #366cf5 51%, #1545c0 100%);
  background: -o-linear-gradient(0deg, #fe36c0 0%, #366cf5 51%, #1545c0 100%);
  background: -ms-linear-gradient(0deg, #fe36c0 0%, #366cf5 51%, #1545c0 100%);
  background: linear-gradient(90deg, #fe36c0 0%, #366cf5 51%, #1545c0 100%);
  color: #fff;
}
.flip a .front {
  background: #fe36c0;
  background: -webkit-linear-gradient(0deg, #fe36c0 0%, #366cf5 51%, #1545c0 100%);
  background: -moz-linear-gradient(0deg, #fe36c0 0%, #366cf5 51%, #1545c0 100%);
  background: -o-linear-gradient(0deg, #fe36c0 0%, #366cf5 51%, #1545c0 100%);
  background: -ms-linear-gradient(0deg, #fe36c0 0%, #366cf5 51%, #1545c0 100%);
  background: linear-gradient(90deg, #fe36c0 0%, #366cf5 51%, #1545c0 100%);
  color: #fff;
  -webkit-transform: rotateY(0) translateZ(24px);
  -moz-transform: rotateY(0) translateZ(24px);
  -o-transform: rotateY(0) translateZ(24px);
  -ms-transform: rotateY(0) translateZ(24px);
  transform: rotateY(0) translateZ(24px);
}
.flip a .back {
  background-color: #f5f5f5;
  border:1px solid gainsboro;
  color: rgba(34,34,34,0);
  -webkit-transform: rotateX(90deg) translateZ(24px);
  -moz-transform: rotateX(90deg) translateZ(24px);
  -o-transform: rotateX(90deg) translateZ(24px);
  -ms-transform: rotateX(90deg) translateZ(24px);
  transform: rotateX(90deg) translateZ(24px);
  overflow: hidden;
}
.flip a .back:after {
  content: '';
  position: absolute;
  top: -32%;
  left: -10%;
  width: 170%;
  height: 50%;
  background: #222;
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition-delay: 0.15s;
  -moz-transition-delay: 0.15s;
  -o-transition-delay: 0.15s;
  -ms-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.flip a:hover {
  -webkit-transform: translateZ(-24px) rotateX(-90deg);
  -moz-transform: translateZ(-24px) rotateX(-90deg);
  -o-transform: translateZ(-24px) rotateX(-90deg);
  -ms-transform: translateZ(-24px) rotateX(-90deg);
  transform: translateZ(-24px) rotateX(-90deg);
}
.flip a:hover .front {
  background: #000;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.flip a:hover .back {
  color: #222;
  -webkit-transition: color 0.4s linear;
  -moz-transition: color 0.4s linear;
  -o-transition: color 0.4s linear;
  -ms-transition: color 0.4s linear;
  transition: color 0.4s linear;
  background: #fff;
}
.flip a:hover .back:after {
  -webkit-transform: rotate(6deg) translate(100px, -18px);
  -moz-transform: rotate(6deg) translate(100px, -18px);
  -o-transform: rotate(6deg) translate(100px, -18px);
  -ms-transform: rotate(6deg) translate(100px, -18px);
  transform: rotate(6deg) translate(100px, -18px);
}
